* {
  margin: 0;
  padding: 0;
}


header{
  height: 75px;
  background-color:white;
  margin-bottom: 30px;
  margin-top: 0px;
}

body{
  background-color: lightgray;
}


main{
  width: 60%;
  height: 520px;
  background-color: white;
  margin: auto;
  border-radius: 1%;
}

.container{

  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 50px;
  border-bottom: 50px;
}


.button {
  height: 30px;
  width: auto;
  margin-bottom: 10px;
  background-color: gray;
  padding: 10px;
  border-radius: 1%;
}

.content{
  height: 100px;
  font-size: 50px;
  background-color: gray;
}

h1{
 display: inline;
 vertical-align:50% ;
 line-height: 20px;
 font-size: 40px;
 
}

.check{
  width: 50px;
  border-radius: 50%;
  border-color: lightgreen;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  padding: 3px;
  font-size: 9px;
  color: lightgreen;
}

div{
  margin-bottom: 20px;
  padding-left: 40px;
  margin-top: 5px;
}

p{
  font-size: 15px;
  line-height: 35px;
}

hr{
  color: lightgray;
}

.triangolino{
  font-size: 10px;
}

.cross{
  width: 50px;
  border-radius: 50%;
  border-color: red;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  padding: 3px;
  font-size: 9px;
  color: red;
}

.bottoni{
color: white;
border-radius: 10px;
font-size: 10px;
padding: 4px;
}

#editorial{
  background-color:#6495ed;
}

#goals{
  background-color: #8a2be2;
}

#recruiting{
  background-color: #66cdaa;
}

#mobile{
  background-color: orange;
}

#website{
  background-color: palevioletred;
}

#sales{
  background-color: #9acd32;
}